<div>
    <section class="content-header">
        <h1>
            Cases
            <small>Case Management</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
            <li class="active">Cases</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Case List</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="dataTables_length">
                                    <label>Records 
                                        <select name="caseCount" aria-controls="caseCount" class="form-control input-sm" ng-options="count.label for count in caseCountDropdown" ng-model="caseCount">
                                        </select>
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div id="caseSearch" class="dataTables_filter">
                                    <label>Search:<input type="search" class="form-control input-sm" ng-model="caseSearchTerm"></label>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-sm-2">
                                        <h4>Asset Tag</h4>
                                    </div>
                                    <div class="col-sm-4">
                                        <h4>Case Id</h4>
                                    </div>
                                    <div class="col-sm-2">
                                        <h4>Description</h4>
                                    </div>
                                </div>
                                <div class="row" ng-repeat="case in cases">
                                    <div class="col-sm-2">{{case.assetTag}}</div>
                                    <div class="col-sm-4">{{case.number}}</div>
                                    <div class="col-sm-2">{{case.description}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>