<div>
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">Case {{details.caseNumber}} Details</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <div class="row">
            <div class="col-sm-3">
                <label>Asset Tag:</label> {{details.assetTag}}
            </div>
            <div class="col-sm-offset-2 col-sm-3">
                <label>Case #:</label> {{details.caseNumber}}
            </div>
            <div class="col-sm-1 pull-right">
                <button type="button" class="btn btn-xs btn-warning edit-icon" ng-hide="edit" ng-click="edit = !edit">Edit</button>
                <button type="button" class="btn btn-xs btn-success save-icon" ng-show="edit" ng-click="saveChanges()">Save</button>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5">
                <div ng-if="!edit"><label>Name:</label> {{details.name}}</div>
                <div ng-if="edit"><label>Name:</label> <input class="form-control" type="text" ng-model="details.name"/></div>
            </div>
            <div class="col-sm-7">
                <div ng-if="!edit"><label>Description:</label> {{details.description}}</div>
                <div ng-if="edit"><label>Description:</label> <textarea class="form-control" row="4" ng-model="details.description"/></div>
            </div>
        </div>

        <div class="details-table-container">
            <h4>Orders</h4>
            <div class="table-responsive">
                <table class="table table-condensed table-striped">
                    <thead>
                        <tr>
                            <th><h5>Status</h5></th>
                            <th><h5>Location</h5></th>
                            <th><h5>Updated At</h5></th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="table-responsive details-table">
                <table class="table table-condensed table-striped">
                    <tbody>
                        <tr ng-if="!noOrders" ng-repeat="order in caseOrders">
                            <td>{{order.status === 'checkin' ? 'Checked In' : 'Checked Out'}}</td>
                            <td><span class="label" ng-class="{'label-info': order.status === 'checkin', 'label-warning': order.status !== 'checkin'}">{{order.status === 'checkin' ? 'warehouse' : order.location | uppercase}}</span></td>
                            <td>{{order.updatedAt | date:'h:mma dd-MMM-yy'}}</td>
                        </tr>
                        <tr ng-if="noOrders">
                            <td colspan="3">No Orders for this case.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="details-table-container">
            <h4>Products</h4>
            <div class="table-responsive">
                <table class="table table-condensed table-striped">
                    <thead>
                        <tr>
                            <th><h5>Asset Tag</h5></th>
                            <th><h5>Name</h5></th>
                            <th><h5>Description</h5></th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="table-responsive details-table">
                <table class="table table-condensed table-striped">
                    <tbody>
                        <tr ng-if="!noProducts" ng-repeat="product in caseProducts">
                            <td>{{product.assetTag}}</td>
                            <td>{{product.name}}</td>
                            <td>{{product.description}}</td>
                        </tr>
                        <tr ng-if="noProducts">
                            <td colspan="3">No Products in this case.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="closeDetailsModal()">Close</button>
    </div>
</div>