<div>
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">Case {{details.caseNumber}} Details</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <div class="row">
            <div class="col-sm-3">
                <label>Asset Tag:</label> {{details.assetTag}}
            </div>
            <div class="col-sm-offset-2 col-sm-3">
                <label>Case #:</label> {{details.caseNumber}}
            </div>
            <div class="col-sm-1 pull-right">
                <button type="button" class="btn btn-xs btn-warning edit-icon" ng-hide="edit" ng-click="edit = !edit">Edit</button>
                <button type="button" class="btn btn-xs btn-success save-icon" ng-show="edit" ng-click="saveChanges()">Save</button>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5">
                <div ng-if="!edit"><label>Name:</label> {{details.name}}</div>
                <div ng-if="edit"><label>Name:</label> <input class="form-control" type="text" ng-model="details.name"/></div>
            </div>
            <div class="col-sm-7">
                <div ng-if="!edit"><label>Description:</label> {{details.description}}</div>
                <div ng-if="edit"><label>Description:</label> <textarea class="form-control" row="4" ng-model="details.description"/></div>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-condensed table-striped">
                <thead>
                    <tr>
                        <th><h4>Asset Tag</h4></th>
                        <th><h4>Name</h4></th>
                        <th><h4>Description</h4></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="product in productsInCase">
                        <td>{{product.assetTag}}</td>
                        <td>{{product.name}}</td>
                        <td>{{product.description}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="closeDetailsModal()">Close</button>
    </div>
</div>