<div>
    <section class="content-header">
        <h1>
            Create
            <small>New Cases &amp; Products</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
            <li class="active">Create</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="box box-default">
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-12 btn-group">
                        <button type="button" class="btn btn-sm btn-primary" ng-model="assetCopy" uib-btn-radio="false">Single Item</button>
                        <button type="button" class="btn btn-sm btn-primary" ng-model="assetCopy" uib-btn-radio="true">Multiple Items</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <form id="create-form" class="form-horizontal" autocomplete="off" role="form" enctype="multipart/form-data">
                            <!-- Asset Tag -->
                            <div class="form-group ">
                                <label for="assetTag" class="col-md-3 control-label">Asset Tag</label>
                                <div class="col-md-7 col-sm-12 required">
                                    <input class="form-control" type="text" name="assetTag" id="assetTag" ng-model="assetTag">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="itemName" class="col-md-3 control-label">Name</label>
                                <div class="col-md-7 col-sm-12">
                                    <input class="form-control" type="text" name="itemName" id="itemName" ng-model="itemName">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="description" class="col-md-3 control-label">Description</label>
                                <div class="col-md-7 col-sm-12">
                                    <input class="form-control" type="text" name="description" id="description" ng-model="description">
                                </div>
                            </div>

                            <!-- Asset Type -->
                            <div class="form-group">
                                <label for="typeDropdown" class="col-md-3 control-label">Type</label>
                                <div class="col-md-7 col-sm-12">
                                    <select class="form-control" ng-model="type" ng-options="type.name for type in typeDropdown"></select>
                                </div>
                            </div>

                            <div ng-hide="type.value === 'product'">
                                <div class="form-group">
                                    <label for="serial" class="col-md-3 control-label">Case Number</label>
                                    <div class="col-md-7 col-sm-12">
                                        <input class="form-control" type="text" name="serial" id="serial" ng-model="caseNumber">
                                    </div>
                                </div>
                            </div>

                            <!-- Asset Name -->
                            <div ng-show="type.value === 'product'">
                                <div class="form-group">
                                    <label for="itemInCase" class="col-md-3 control-label">In Case Number</label>
                                    <div class="col-md-7 col-sm-12">
                                        <input class="form-control" type="text" name="itemInCase" id="itemInCase" ng-model="itemInCase">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="itemCountInCase" class="col-md-3 control-label">Quantity in Case</label>
                                    <div class="col-md-7 col-sm-12">
                                        <input class="form-control" type="text" name="itemCountInCase" id="itemCountInCase" ng-model="itemCountInCase">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="box-footer text-right">
                <a class="btn btn-link" ng-click="cancel()">Cancel</a>
                <button type="submit" class="btn btn-success save-icon" id="submit-button" ng-click="createItem()">Save</button>
            </div>
        </div>
    </section>
</div>