<div>
    <section class="content-header">
        <h1>
            Dashboard
            <small>Control panel</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Dashboard</li>
        </ol>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-md-8">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">Recent Orders</h3>
                        <button class="btn btn-xs btn-success pull-right" ui-sref="home.orders">See All Orders</span>
                    </div>
                    <div class="box-body">
                        <div class="table-responsive">
                            <table class="table table-condensed table-striped">
                                <thead>
                                    <tr>
                                        <th><h4>Asset Tag</h4></th>
                                        <th><h4>Date</h4></th>
                                        <th><h4>Status</h4></th>
                                        <th><h4>Item</h4></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="order in orders">
                                        <td>{{order.assetTag}}</td>
                                        <td>{{order.updatedAt | date:'HH:mm dd/MMM/yy'}}</td>
                                        <td><span class="label" ng-class="{'label-info': order.location === 'warehouse', 'label-warning': order.location !== 'warehouse'}">{{order.status === 'checkin' ? 'Checked In' : 'Checked Out'}}</span></td>
                                        <td>{{order.productName}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 ">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <div class="input-group btn-block">
                            <span class="input-group-addon" id="assetSearch">Search Asset:</span>
                            <input type="text" class="form-control input-lg" placeholder="Asset Tag Lookup" aria-describedby="assetSearch" ng-model="assetTagSearch" ng-change="assetSearch()" ng-model-options="{ debounce: 500 }"></input>
                        </div>
                    </div>
                </div>
                <div class="box box-info">
                    <div class="box-header with-border">
                        <button type="button" class="btn btn-block btn-primary btn-lg" ui-sref="home.create">New Items</button>
                        <button type="button" class="btn btn-block btn-success btn-lg" ui-sref="home.orders">New Order</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>