<div>
    <section class="content-header">
        <h1>
            Orders
            <small>Order Tracker</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
            <li class="active">Order</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Recent Orders</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="row">
                            <div class="col-sm-6 btn-group" role="group">
                                <button type="button" class="btn btn-info" ng-click="changeStatus('checkin')">Check In</button>
                                <button type="button" class="btn btn-warning" ng-click="changeStatus('checkout')">Check Out</button>
                            </div>
                            <div class="col-sm-6">
                                <!--<div id="orderSearch" class="dataTables_filter">
                                    <label>Search:<input type="search" class="form-control input-sm" ng-model="orderSearchTerm"></label>
                                </div>-->
                            </div>
                        </div>

                        <div class="table-responsive">
                            <table class="table table-condensed table-striped">
                                <thead>
                                    <tr>
                                        <th><h4>Asset Tag</h4></th>
                                        <th><h4>Status</h4></th>
                                        <th><h4>Location</h4></th>
                                        <th><h4>Updated At</h4></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="order in orders">
                                        <td>{{order.assetTag}}</td>
                                        <td>{{order.status === 'checkin' ? 'Checked In' : 'Checked Out'}}</td>
                                        <td><span class="label" ng-class="{'label-info': order.location === 'warehouse', 'label-warning': order.location !== 'warehouse'}">{{order.location | uppercase}}</span></td>
                                        <td>{{order.updatedAt | date:'h:mma dd-MMM-yy'}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="row">
                            <div class="col-sm-2">
                                <ul uib-pagination total-items="pagination.total" ng-model="pagination.page" max-size="pagination.size" class="pagination" ng-change="getPage()" num-pages="pagination.totalPages" template-url="/templates/pagination.html"></ul>
                            </div>
                            <div class="col-sm-2">
                                <h5>Total Orders: {{pagination.total}}</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>