<div>
    <section class="content-header">
        <h1>Orders</h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
            <li class="active">Order</li>
        </ol>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3>Order List</h3>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-sm-8 btn-group" role="group">
                                <button type="button" class="btn btn-info" ng-click="changeStatus('checkin')">Check In</button>
                                <button type="button" class="btn btn-warning" ng-click="changeStatus('checkout')">Check Out</button>
                            </div>
                            <div class="col-sm-4">
                                <div class="input-group">
                                    <span class="input-group-addon" id="orderSearch">Search Orders:</span>
                                    <select class="form-control" ng-model="orderSearchTerm" ng-options="option.label for option in orderSearchType.value === 'status' ? statusTypes : locations" ng-change="orderSearch()">
                                        <option value="" default></option>
                                    </select>
                                    <div class="input-group-btn search-options">
                                        <button type="button" class="btn btn-default dropdown-toggle dropdown-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{orderSearchType.label}}</button>
                                        <ul class="dropdown-menu dropdown-menu-right">
                                            <li ng-repeat="orderSearch in orderSearchOptions" ng-click="assignSearchType(orderSearch)"><a>{{orderSearch.label}}</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="table-responsive">
                            <table class="table table-condensed table-striped">
                                <thead>
                                    <tr>
                                        <th><h4>Asset Tag</h4></th>
                                        <th><h4>Check In Location</h4></th>
                                        <th><h4>Check In Time</h4></th>
                                        <th><h4>Check Out Location</h4></th>
                                        <th><h4>Check Out Time</h4></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-if="!tableError" ng-repeat="order in orders">
                                        <td>{{order.assetTag}}</td>
                                        <td><span ng-if="order.checkInTime !== null" class="label label-info">WAREHOUSE</span></td>
                                        <td>{{order.checkInTime | date:'h:mma dd-MMM-yy'}}</td>
                                        <td><span class="label label-warning">{{order.location | uppercase}}</span></td>
                                        <td>{{order.checkOutTime | date:'h:mma dd-MMM-yy'}}</td>
                                    </tr>
                                    <tr ng-if="tableError">
                                        <td colspan="5">{{errorText}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="row">
                            <div class="col-sm-2">
                                <h5>Total Orders: {{pagination.total}}</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <ul uib-pagination total-items="pagination.total" ng-model="pagination.page" max-size="pagination.size" class="pagination" ng-change="getPage()" num-pages="pagination.totalPages" template-url="/templates/pagination.html"></ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>