<div>
    <section class="content-header">
        <h1>Products</h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Products</li>
        </ol>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <div class="row">
                            <div class="col-sm-8">
                                <h3>Product List</h3>
                            </div>
                            <!--<div class="col-sm-4">
                                <div class="input-group btn-block">
                                    <span class="input-group-addon" id="productSearch">Search Products:</span>
                                    <input type="text" class="form-control input-lg" placeholder="Product Lookup" aria-describedby="productSearch" ng-model="productSearchTerm" ng-change="productSearch()" ng-model-options="{ debounce: 500 }"></input>
                                </div>
                            </div>-->
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="table-responsive">
                            <table class="table table-condensed table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th><h4>Asset Tag</h4></th>
                                        <th><h4>Product</h4></th>
                                        <th><h4>Description</h4></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-if="!tableError" ng-repeat="product in products" ng-click="getProductDetails(product.assetTag)">
                                        <td>{{product.assetTag}}</td>
                                        <td>{{product.name}}</td>
                                        <td>{{product.description}}</td>
                                    </tr>
                                    <tr ng-if="tableError">
                                        <td colspan="3">{{errorText}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="row">
                            <div class="col-sm-2">
                                <h5>Total Products: {{pagination.total}}</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <ul uib-pagination total-items="pagination.total" ng-model="pagination.page" max-size="pagination.size" class="pagination" ng-change="getPage()" num-pages="pagination.totalPages" template-url="/templates/pagination.html"></ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>