<div>
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">{{details.name}} Details</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <div class="row">
            <div class="col-sm-3">
                <label>Asset Tag:</label> {{details.assetTag}}
            </div>
            <div class="col-sm-offset-2 col-sm-3">
                <div ng-if="!edit"><label>Inside Case #:</label> {{details.inCase.case}}</div>
                <div ng-if="edit"><label>Inside Case #:</label> <input class="form-input" type="text" ng-model="details.inCase.case"/></div>
            </div>
            <div class="col-sm-3">
                <div ng-if="!edit"><label>Quantity in Case:</label> {{details.inCase.quantity}}</div>
                <div ng-if="edit"><label>Quantity in Case:</label> <input class="form-input" type="text" ng-model="details.inCase.quantity"/></div>
            </div>
            <div class="col-sm-1 pull-right">
                <button type="button" class="btn btn-xs btn-warning edit-icon" ng-hide="edit" ng-click="edit = !edit">Edit</button>
                <button type="button" class="btn btn-xs btn-success save-icon" ng-show="edit" ng-click="saveChanges()">Save</button>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5">
                <div ng-if="!edit"><label>Name:</label> {{details.name}}</div>
                <div ng-if="edit"><label>Name:</label> <input class="form-input" type="text" ng-model="details.name"/></div>
            </div>
            <div class="col-sm-7">
                <div ng-if="!edit"><label>Description:</label> {{details.description}}</div>
                <div ng-if="edit"><label>Description:</label> <textarea class="form-input" row="4" ng-model="details.description"/></div>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-condensed table-striped">
                <thead>
                    <tr>
                        <th><h4>Status</h4></th>
                        <th><h4>Location</h4></th>
                        <th><h4>Updated At</h4></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="order in productOrders">
                        <td>{{order.status === 'checkin' ? 'Checked In' : 'Checked Out'}}</td>
                        <td><span class="label" ng-class="{'label-info': order.location === 'warehouse', 'label-warning': order.location !== 'warehouse'}">{{order.location | uppercase}}</span></td>
                        <td>{{order.updatedAt | date:'h:mma dd-MMM-yy'}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="closeDetailsModal()">Close</button>
    </div>
</div>