<div>
    <section class="content-header">
        <h1>
            Products
            <small>Product List</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Products</li>
        </ol>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Product List</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="dataTables_length">
                                    <label>Records 
                                        <select name="productCount" aria-controls="productCount" class="form-control input-sm" ng-options="count.label for count in productCountDropdown" ng-model="productCount">
                                        </select>
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div id="productSearch" class="dataTables_filter">
                                    <label>Search:<input type="search" class="form-control input-sm" placeholder="" ng-model="productSearchTerm"></label>
                                </div>
                            </div>
                        </div>

                        <div class="table-responsive">
                            <table class="table table-condensed table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th><h4>Asset Tag</h4></th>
                                        <th><h4>Product</h4></th>
                                        <th><h4>Description</h4></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="product in products" ng-click="getProductDetails(product.assetTag)">
                                        <td>{{product.assetTag}}</td>
                                        <td>{{product.name}}</td>
                                        <td>{{product.description}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>