<div>
    <section class="content-header">
        <h1>
            Products
            <small>Product List</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Products</li>
        </ol>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Product List</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="dataTables_length">
                                    <label>Records 
                                        <select name="product_count" aria-controls="product_count" class="form-control input-sm" ng-options="count.label for count in productCountDropdown" ng-model="productCount">
                                        </select>
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div id="product_search" class="dataTables_filter">
                                    <label>Search:<input type="search" class="form-control input-sm" placeholder="" ng-model="productSearchTerm"></label>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-sm-2"><h4>Asset Tag</h4></div>
                                    <div class="col-sm-2"><h4>Quantity</h4></div>
                                    <div class="col-sm-4"><h4>Product</h4></div>
                                    <div class="col-sm-4"><h4>Description</h4></div>
                                </div>
                                <div class="row" ng-repeat="product in products">
                                    <div class="col-sm-2">{{product.assetTag}}</div>
                                    <div class="col-sm-2">{{product.quantity}}</div>
                                    <div class="col-sm-4">{{product.name}}</div>
                                    <div class="col-sm-4">{{product.description}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>