body {
    background-color: #ecf0f5;
}

body.modal-open {
    padding-right: 0 !important;
}

.wrapper {
    position: inherit;
}

.logout-btn {
    padding: 8px 5px;
}

.data-tables-filter {
    text-align: right;
    padding-top: 15px;
}

.details-table-container {
    padding-bottom: 10px;
}

.details-table-container .table-responsive .table {
    margin-bottom: 0;
}

.details-table-container .table-responsive .table th:nth-child(1), .details-table-container .table-responsive .table td:nth-child(1) {
    width: 200px;
}

.details-table-container .table-responsive .table th:nth-child(2), .details-table-container .table-responsive .table td:nth-child(2) {
    width: 250px;
}

.details-table-container .table-responsive .table th h5 {
    margin-top: 0;
}

.details-table {
    max-height: 160px;
    overflow-y: auto;
}

.pagination {
    margin: 0;
}

.pagination-width {
    width: 75px;
    text-align: center;
}

.search-options {
    width: 90px;
    max-width: 90px;
}

.search-options > .btn.dropdown-toggle {
    width: 100%;
}

.disabled.page-counter {
    color: #333;
}

.disabled.page-counter:hover {
    cursor: default;
    background: none;
    border-color: #ddd;
}

textarea.form-control {
    resize: none;
    max-width: 100%;
}

.asset-description {
    max-height: 80px;
    overflow-y: auto;
    white-space: pre-wrap;
}

.asset-description::-webkit-scrollbar, .details-table::-webkit-scrollbar {
    width: 5px;
}

.asset-description::-webkit-scrollbar-track, .details-table::-webkit-scrollbar-track {
    border-radius: 3px;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.5);
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.5);
}

.asset-description::-webkit-scrollbar-thumb, .details-table::-webkit-scrollbar-thumb {
    border-radius: 3px;
    box-shadow: inset 0 0 5px rgba(0,0,0,1);
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,1);
}

.logout-icon:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    content: "\f13e";
    padding-right: 5px;
}

.login-icon:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    content: "\f023";
    padding-right: 5px;
}

.orders-icon:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    content: "\f276";
    padding-right: 5px;
}

.save-icon:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    content: "\f00c";
    padding-right: 5px;
}

.edit-icon:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    content: "\f040";
    padding-right: 5px;
}

.dropdown-icon:after {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    content: "\f0d7 ";
    margin-left: 10px;
}