.logout-btn {
    padding: 8px 5px;
}

.dataTables_filter {
    text-align: right;
    padding-top: 15px;
}

.pagination {
    margin: 0;
}

.pagination-width {
    width: 75px;
    text-align: center;
}

.disabled.page-counter {
    color: #333;
}

.disabled.page-counter:hover {
    cursor: default;
    background: none;
    border-color: #ddd;
}

.logout-icon:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    content: "\f13e";
    padding-right: 5px;
}

.login-icon:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    content: "\f023";
    padding-right: 5px;
}

.orders-icon:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    content: "\f276";
    padding-right: 5px;
}

.save-icon:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    content: "\f00c";
    padding-right: 5px;
}

.edit-icon:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    content: "\f040";
    padding-right: 5px;
}